//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #070416 !default;

$black: #232323;
$white: #fff !default;
$gray-600: #AEA5DD;
$gray-600-dark: #4B3F88 !default;
$gray-700-dark: #362D65 !default;
$gray-800-dark: #161033 !default;
$black-dark: #281E55 !default;
$input-placeholder-color: #ccc !default;

$primary: #6C4FF7 !default;
$success: #26e97e !default;
$warning: #fa62fc !default;
$card-border-color: $gray-700-dark !default;
$card-outline-color: #23175D !default;

$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;

$theme-colors: (
    'black': $black,
    'gray': $gray-600,
    'gray-dark': $gray-800-dark,
);
